@import url("https://fonts.cdnfonts.com/css/post-no-bills-colombo");
@import "tailwindcss";

@theme {
  --font-postnobills: "Post No Bills Colombo", sans-serif;
  --breakpoint-2xl: 80rem; /* equivalent to 1280px */
  --breakpoint-xl: 64rem; /* equivalent to 1024px */
  --breakpoint-lg: 61rem; /* equivalent to 976px */
  --breakpoint-m1: 39rem; /* equivalent to 624px */
  --breakpoint-m2: 36rem; /* equivalent to 576px */
  --breakpoint-m3: 28rem; /* equivalent to 448px */
  --breakpoint-sm: 24rem; /* equivalent to 384px */
  --breakpoint-xsm: 10rem; /* equivalent to 384px */
}
